@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 255px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 5px solid rgb(226, 201, 60);
}

header img {
    border-radius: 40px;
}

h1,
h2 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    background: rgb(226, 201, 60);
    color: white;
    transition: 1s;
}

h1:hover {
    text-shadow: 0 0 .1em, 0 0 .3em;
}

article,
li {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    padding-left: 40px;
}

footer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(226, 201, 60, 1);
}

.year {
    padding-left: 40px;
}

footer p {
    padding: 0;
    margin: 0;
}

footer a {
    max-height: 100px;
    padding-right: 40px;
}

footer img {
    max-height: 80px;
}